body {
	font-size: 85%;
	text-align: justify;
	background-color: ECD897;
  color: 7E7C74;
}
h1 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 10px;
  text-shadow: 3px 2px 010101;
  font-family:  "Verdana", monospace;
  text-align: center;
}
h2 {
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Verdana", monospace;
  text-align: center;
}
h3 {
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
}
p {
  font-size: 15px;
  text-indent: 50px;
  font-family:  "Verdana", monospace;
  text-align: justify;
  letter-spacing: 3px;
  line-height: 20px;
}
