<!DOCTYPE html>
<html lang="en">
    <head>    
        <title>TIPSY</title>
        <meta charset="UTF-8"/>
        <script src="server.js"></script>
    </head>
    <body>
    <div id="displayName">{{name}}</div>
     
    <div id="displayTag">{{tag}}</div>
    
    <div id="displayPic"> {{profilepic}}</div>
    
    page
    </body>
    </html>