<!DOCTYPE html>
<html lang="en">
    <head>    
        <title>TIPSY</title>
        <meta charset="UTF-8"/>
        <script src="server.js"></script>
    </head>
    <body>
    <div id="displayName"></div>
        {{name}}
    <div id="displayTag"></div>
        {{tag}}
    <div id="displayPic"></div>
        {{profilepic}}
    
    </body>
    </html>