body {
	font-size: 85%;
	background-color: #F7F8E0;
  text-decoration-color: #7E7C74;
}
h1 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 10px;
  text-shadow: 3px 2px #FFFFFF;
  font-family:  "Verdana", monospace;
  text-align: center;
}
h2 {
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Verdana", monospace;
  text-align: center;
}
h3 {
	  font-size: 28px;
		font-family: "Calibri", monospace;
		position: fixed;
    left: -.1em;
    top: 60px;
    width: 1em;
    line-height: 0.8;
    text-align: center;
		text-transform: uppercase;
    word-wrap: break-word;
    text-shadow: 0 0 28px rgba(0,0,0,0.3);
	}

p {
  font-size: 15px;
  font-family:  "Verdana", monospace;
  letter-spacing: 3px;
  line-height: 30px;
}

.title {
	display: -webkit-flex;
	display: flex;
	flex-flow: column;
	justify-content: center;
	webkit-transform: rotate(-90deg);

}
.reflection {
	border-color: #020202;
	border-width: 1px;
	border-style: solid;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
  justify-content: flex-start;
	margin: 30px;
}

.reflect-text {
	padding-left: 10px;

}
.time-box {
	border-color: #020202;
	border-width: 1px;
	border-style: solid;
	display: -webkit-flex;
	display: flex;
	flex-flow: nowrap;
	justify-content: flex-start;
	margin: 30px;
}
.image {
	display: -webkit-flex;
	display: flex;
	flex-flow: wrap;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
		border: 1px solid red;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
}
.row {
    width: 100%;
    margin-bottom: 20px;
		display: flex;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 49.99%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 74.99%;
}
.col-10 {
	width: 88.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
