body {
	font-size: 85%;
	background-color: #F7F8E0;
  text-decoration-color: #7E7C74;
}
h1 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 10px;
  text-shadow: 3px 2px #FFFFFF;
  font-family:  "Verdana", monospace;
  text-align: center;
}
h2 {
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Verdana", monospace;
  text-align: center;
}
h3 {
	  font-size: 28px;
		font-family: "Calibri", monospace;
		position: fixed;
    left: -.1em;
    top: 60;
    width: 1em;
    line-height: 0.8;
    text-align: center;
		text-transform: uppercase;
    word-wrap: break-word;
    text-shadow: 0 0 28px rgba(0,0,0,0.3);
	}

p {
  font-size: 15px;
  font-family:  "Verdana", monospace;
  letter-spacing: 3px;
  line-height: 30px;
}
.title {
	display: -webkit-flex;
	display: flex;
	flex-flow: column;
	justify-content: center;
	webkit-transform: rotate(-90deg);

}
.reflection {
	border-color: #020202;
	border-width: 1px;
	border-style: solid;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
  justify-content: flex-start;
	margin: 30px;
}

.reflect-text {
	padding-left: 10px;

}
.time-box {
	border-color: #020202;
	border-width: 1px;
	border-style: solid;
	display: -webkit-flex;
	display: flex;
	flex-flow: nowrap;
	justify-content: flex-start;
	margin: 30px;
}
.image {
	display: -webkit-flex;
	display: flex;
	flex-flow: wrap;
}
