body {
	font-size: 85%;
	background-color: #F7F8E0;
  text-decoration-color: #7E7C74;
}
h1 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 10px;
  text-shadow: 3px 2px #FFFFFF;
  font-family:  "Verdana", monospace;
  text-align: center;
}
h2 {
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Verdana", monospace;
  text-align: center;
}
h3 {
	  font-size: 28px;
		font-family: "Calibri", monospace;
		position: fixed;
		left: -.1em;
		top: 60px;
		width: 1em;
		line-height: 0.8;
		text-align: center;
		text-transform: uppercase;
		word-wrap: break-word;
		text-shadow: 0 0 28px rgba(0,0,0,0.3);
	}

p {
  font-size: 15px;
  font-family:  "Verdana", monospace;
  letter-spacing: 3px;
  line-height: 30px;
}

#hero {
max-width: 30%;
}

button {
  padding: 40px;
  border-radius: 12px;
  font-size: 26px;
  font-family: "Calibri", monospace;
  box-shadow: 3px 2px #7E7C74;
}

button:hover {
  background-color: #e8f0ff;
  color: rgb(66, 60, 60);
}
